.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.makeStyles-table-212 {
  min-width: 100% !important;
}
.makeStyles-table-251 {
  min-width: 100% !important;
}
.makeStyles-cell-256 {
  height: 28px !important;
}
.Label-label-246 {
  height: 28px !important;
}
.TickCell-cell-250 {
  height: 28px !important;
}
.Label-text-247 {
  line-height: 28px !important;
}
.Label-label-246 {
  line-height: 28px !important;
}
.Label-emptyLabel-248 {
  height: 12px !important;
}
.VerticalViewLayout-mainTable-99 {
  width: calc(100% - 40px) !important;
}
.VerticalViewLayout-fixedWidth-98 {
  width: 40px !important;
}


.jss212 {
  min-width: 100% !important;
}
.jss251 {
  min-width: 100% !important;
}
.jss256 {
  height: 28px !important;
}
.jss246 {
  height: 28px !important;
}
.jss250 {
  height: 28px !important;
}
.jss247 {
  line-height: 28px !important;
}
.jss246 {
  line-height: 28px !important;
}
.jss248 {
  height: 12px !important;
}
.jss99 {
  width: calc(100% - 40px) !important;
}
.jss98 {
  width: 40px !important;
}